body{
    margin: 0;
}
#game{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: auto ;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    border: solid 5px black;
    gap: 2rem;
    padding: 1rem;
}
#buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
button{
    height: 6rem;
    width: 6rem;
    margin: 1rem;
    text-shadow: 3px 3px 3px goldenrod;
    box-shadow: 3px 3px 3px grey;
    font-size: xx-large;
    background-color: blanchedalmond;
    border-radius: 1rem;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-shadow: 3px 3px 3px grey;
}
button:hover{
    background-color: rgb(240, 206, 154);
    cursor: pointer;
}
#result{
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    text-shadow: 3px 3px 3px grey;
}
#userInput , #computer{
    font-size: x-large;
    font-weight: bold;

}
#upper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}
.p{
    color: blue;
    font-size: larger;
    font-weight: bold;
}
.c{
    color: red;
    font-size: larger;
    font-weight: bold; 
}